.version.attend /* version checker */
{
	color: #0000F1;
	background-color: #4BFD39;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1316.9499999999996px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu839
{
	width: 0.01px;
	padding-bottom: 152px;
	margin-left: -335px;
}

#u839
{
	z-index: 84;
	width: 1655px;
	height: 152px;
	top: -36px;
	left: -335px;
}

#menuu840
{
	z-index: 85;
	width: 446px;
	top: -28px;
	left: 514px;
}

#u862
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u863
{
	width: 87px;
	padding-bottom: 12px;
}

#u2138
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u2139
{
	width: 87px;
	padding-bottom: 12px;
}

#u863.MuseMenuActive,#u2139.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u865,#u2142
{
	height: 22px;
	width: 87px;
	margin-right: -10000px;
	top: 6px;
}

#u2731
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u2732
{
	width: 88px;
	padding-bottom: 12px;
}

#u2145
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2146
{
	width: 88px;
	padding-bottom: 12px;
}

#u2152
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u2155
{
	width: 88px;
	padding-bottom: 12px;
}

#u2732.MuseMenuActive,#u2146.MuseMenuActive,#u2155.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2733,#u2147,#u2158
{
	height: 22px;
	width: 88px;
	margin-right: -10000px;
	top: 6px;
}

#u869
{
	z-index: 121;
	top: -29px;
	left: 1011px;
}

#u869:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2628
{
	z-index: 139;
	top: -27px;
	left: -93px;
}

#pu2579-3
{
	width: 0.01px;
	margin-left: -280px;
	margin-top: -152px;
}

#u2579-3
{
	z-index: 2;
	width: 1528px;
	min-height: 601px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/img_9000_2.jpg") no-repeat center center;
	background-size: cover;
}

#u1396
{
	z-index: 70;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 115px;
}

#here
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 548px;
	left: 146px;
}

#u2417-4
{
	z-index: 72;
	width: 216px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	line-height: 23px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 1059px;
}

#u2419-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 1058px;
}

#u2476-4
{
	z-index: 80;
	-webkit-transform: matrix(0,1,-1,0,284,-122);
	-ms-transform: matrix(0,1,-1,0,284,-122);
	transform: matrix(0,1,-1,0,284,-122);
	position: relative;
	width: 406px;
	margin-right: -10000px;
	margin-top: 264px;
	left: -35px;
}

#u2476-4_img
{
	display: block;
	vertical-align: top;
}

#u915
{
	z-index: 5;
	min-height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u915-bw
{
	z-index: 5;
	min-height: 289px;
}

#pu922-16
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u922-16
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u923-21
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 440px;
}

#u1173-27
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 879px;
}

#u872
{
	z-index: 122;
	min-height: 75px;
	padding-bottom: 19px;
}

#u872_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u874
{
	z-index: 131;
	margin-right: -10000px;
	margin-top: 26px;
}

#u880
{
	z-index: 137;
	margin-right: -10000px;
	margin-top: 26px;
	left: 42px;
}

#u876
{
	z-index: 133;
	margin-right: -10000px;
	margin-top: 26px;
	left: 84px;
}

#u878
{
	z-index: 135;
	margin-right: -10000px;
	margin-top: 26px;
	left: 127px;
}

#u873-8
{
	z-index: 123;
	margin-right: -10000px;
	margin-top: 15px;
	left: 1041px;
}

#u872-bw
{
	z-index: 122;
	min-height: 75px;
	margin-top: -2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

