.version.untitled_6 /* version checker */
{
	color: #0000E3;
	background-color: #3F602D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4379.849999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu839
{
	width: 0.01px;
	padding-bottom: 152px;
	margin-left: -335px;
}

#u839
{
	z-index: 40;
	width: 1655px;
	height: 152px;
	top: -36px;
	left: -335px;
}

#menuu840
{
	z-index: 41;
	width: 446px;
	top: -28px;
	left: 514px;
}

#u862
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u863
{
	width: 87px;
	padding-bottom: 12px;
}

#u2138
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u2139
{
	width: 87px;
	padding-bottom: 12px;
}

#u863.MuseMenuActive,#u2139.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u865,#u2142
{
	height: 22px;
	width: 87px;
	margin-right: -10000px;
	top: 6px;
}

#u2731
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u2732
{
	width: 88px;
	padding-bottom: 12px;
}

#u2145
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2146
{
	width: 88px;
	padding-bottom: 12px;
}

#u2152
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u2155
{
	width: 88px;
	padding-bottom: 12px;
}

#u2732.MuseMenuActive,#u2146.MuseMenuActive,#u2155.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2733,#u2147,#u2158
{
	height: 22px;
	width: 88px;
	margin-right: -10000px;
	top: 6px;
}

#u869
{
	z-index: 77;
	top: -29px;
	left: 1011px;
}

#u869:hover
{
	min-height: 0px;
	margin: 0px;
}

#u2628
{
	z-index: 95;
	top: -27px;
	left: -93px;
}

#u1898
{
	z-index: 2;
	width: 654px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: -544px;
}

#u1919
{
	z-index: 14;
	width: 84px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: 110px;
}

#u1916
{
	z-index: 12;
	width: 188px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: 194px;
}

#u1904
{
	z-index: 4;
	width: 76px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: 382px;
}

#u1907
{
	z-index: 6;
	width: 304px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: 458px;
}

#u1910
{
	z-index: 8;
	width: 136px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: 762px;
}

#u1913
{
	z-index: 10;
	width: 605px;
	background-color: transparent;
	position: fixed;
	top: 585px;
	left: 898px;
}

#u1945-4
{
	z-index: 30;
	width: 560px;
	min-height: 327px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 72px;
	line-height: 86px;
	margin-left: 522px;
	margin-top: 661px;
	position: relative;
}

#u1934
{
	z-index: 16;
	width: 654px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: -544px;
}

#u1924
{
	z-index: 28;
	width: 84px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: 110px;
}

#u1930
{
	z-index: 26;
	width: 188px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: 194px;
}

#u1932
{
	z-index: 18;
	width: 76px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: 382px;
}

#u1926
{
	z-index: 20;
	width: 304px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: 458px;
}

.js #u1926.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1936
{
	z-index: 22;
	width: 136px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: 762px;
}

#u1928
{
	z-index: 24;
	width: 605px;
	background-color: transparent;
	position: fixed;
	top: 2005px;
	left: 898px;
}

#u1928_img
{
	padding-right: 110px;
}

#u1946-4
{
	z-index: 34;
	width: 560px;
	min-height: 327px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 72px;
	line-height: 86px;
	margin-top: 1316px;
	position: relative;
}

#u1962
{
	z-index: 38;
	width: 1999px;
	height: 974px;
	left: -544px;
	margin-top: 67px;
	position: relative;
	background: #FFFFFF url("../images/screen%20shot%202015-11-26%20at%2035551%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u1971
{
	z-index: 39;
	width: 1999px;
	height: 953px;
	left: -544px;
	position: relative;
	background: #FFFFFF url("../images/screen%20shot%202015-11-26%20at%2040153%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u872
{
	z-index: 78;
	min-height: 75px;
	padding-bottom: 19px;
}

#u872_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u874
{
	z-index: 87;
	margin-right: -10000px;
	margin-top: 26px;
}

#u880
{
	z-index: 93;
	margin-right: -10000px;
	margin-top: 26px;
	left: 42px;
}

#u876
{
	z-index: 89;
	margin-right: -10000px;
	margin-top: 26px;
	left: 84px;
}

#u878
{
	z-index: 91;
	margin-right: -10000px;
	margin-top: 26px;
	left: 127px;
}

#u873-8
{
	z-index: 79;
	margin-right: -10000px;
	margin-top: 15px;
	left: 1041px;
}

#u872-bw
{
	z-index: 78;
	min-height: 75px;
	margin-top: -2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

